<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, sequi. Eaque neque voluptatum quod nobis sequi ipsam, repudiandae ducimus temporibus nemo culpa quis aliquid. Cum beatae maiores delectus odit expedita!</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ipsum. Sint, doloribus numquam cum soluta tenetur repellendus itaque optio ipsam minus dignissimos quasi modi recusandae sequi quam doloremque temporibus ratione!</p>
    <a href="https://ricardoromo.co" target="_blank" class="btn btn-primary btn-lg">Ricaro Romo</a>
</div> 

